$cyan:#3a64e0;

@mixin margenes($top, $bottom){
	
	margin-top: $top;
	margin-bottom: $bottom;
}
	.jumbotron {
		background-color: $cyan;
		color: black;

		@include margenes(0px, 30px);
	}
	
	.card-hotel {
		flex: 1 150px;
		padding: 10px 5px 5px 10px;
		@include margenes(15px, 0px);
	}

	.btn-reserva {
		width: 100%;
		border-radius: 50px;
	}

	footer {
		padding:10px 10px 0 10px;
		margin-bottom:0px;
		@include margenes(30px, 0px);
	}

	.footer-addres-icon {
		padding-right: 2px; 
	}

	.tab-content {
		padding-top: 10px;
	}
	
 	.button {
 		@include margenes(25px, 0px);
	}
 	