.jumbotron {
  background-color: #3a64e0;
  color: black;
  margin-top: 0px;
  margin-bottom: 30px; }

.card-hotel {
  flex: 1 150px;
  padding: 10px 5px 5px 10px;
  margin-top: 15px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 50px; }

footer {
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 30px;
  margin-bottom: 0px; }

.footer-addres-icon {
  padding-right: 2px; }

.tab-content {
  padding-top: 10px; }

.button {
  margin-top: 25px;
  margin-bottom: 0px; }
