@cyan: #3a64e0;


.margenes(@top:0px, @bottom:0px){
  
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron {
  background-color: @cyan;
  color: black;
  .margenes(30px,0px);
}
  

.card-hotel {
  flex: 1 150px;
  padding: 10px 5px 5px 10px;
  .margenes(15px,0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 50px; 
}

footer {
  padding: 10px 10px 0 10px;
  .margenes(30px,0px);
}

.footer-addres-icon {
  padding-right: 2px; }

.tab-content {
  padding-top: 10px; }

.button {
  .margenes(25px,0px);
}
